{% extends "layouts/app.njk" %}
{# Extiende la plantilla base llamada "app.njk" #}

{% block title %}
    Agregar producto
{% endblock %}
{# Define el título que aparecerá en la pestaña del navegador #}

{% block styles %}
    <!-- Enlace al archivo CSS específico de esta vista -->
    <link rel="stylesheet" href="">
{% endblock %}

{% block content %}
<main>
    <!-- Formulario para agregar un producto -->
    <form action="/addProduct" method="POST" enctype="multipart/form-data">
        <!-- Nombre -->
        <div class="box name">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>

        <!-- Precio -->
        <div class="box price">
            <label for="precio">Precio</label>
            <input type="number" id="precio" name="precio" step="0.01" required>
        </div>

        <!-- Stock -->
        <div class="box stock">
            <label for="stock">Stock</label>
            <input type="number" id="stock" name="stock" required>
        </div>

        <!-- Descripción -->
        <div class="box descripcion">
            <label for="descripcion">Descripción</label>
            <input type="text" id="descripcion" name="descripcion">
        </div>

        <!-- Imagen del producto -->
        <div class="box archivo">
            <label for="img">Agregar imagen</label>
            <input type="file" id="img" name="img" accept="image/*">
        </div>

        <!-- Botones de acción -->
        <div class="buttons">
            <button type="reset" class="cancelar-btn" id="cancelar-btn">Cancelar</button>
            <button type="submit" class="confirmar-btn" id="confirmar-btn">Confirmar</button>
        </div>
    </form>
</main>
{% endblock %}
{# Fin del bloque principal de contenido #}

{% block scripts %}
    <!-- Enlace al archivo JavaScript específico de esta vista -->
    <script src=""></script>
{% endblock %}
{# Fin del bloque de scripts #}
