{% extends "layouts/app.njk" %}
{% block title %}
    Home
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/css/index.clientes.css">
<!-- Este es el link para conectar con css -->

<div class="heya">

<div class="flores">
<h2>Flores</h2>

    <!--  para poner las imagenes  -->

    <div class="imagenflores1">
<p>Bandeja Pesonalizada</p>
<p>$0.00</p>
</div>

    <div="imagenflores2">
<p>Bandeja Pesonalizada</p>
<p>$0.00</p>
</div>

    <div="imagenflores3">
<p>Bandeja Pesonalizada</p>
<p>$0.00</p>
</div>

    <div="imagenflores4">
<p>Bandeja Pesonalizada</p>
<p>$0.00</p>
</div>

    <!--  para las bandejas  -->
<div class="bandejas">
<h2>Bandejas</h2>

<div class="">

<div class="ïmagenbandeja1">
<p>Bandeja Pesonalizada</p>
<p>$0.00</p>
</div>

<div class="ïmagenbandeja2">
<p>Bandeja Pesonalizada</p>
<p>$0.00</p>
</div>

<div class="ïmagenbandeja3">
<p>Bandeja Pesonalizada</p>
<p>$0.00</p>
</div>

<div class="ïmagenbandeja4">
<p>Bandeja Pesonalizada</p>
<p>$0.00</p>
</div>

    <!--  para los eventos  -->
<div>
<h2>Eventos</h2>
</div>

<div class="ïmageneventos1">
<p>Bandeja Pesonalizada</p>
<p>$0.00</p>
</div>

<div class="ïmageneventos2">
<p>Bandeja Pesonalizada</p>
<p>$0.00</p>
</div>

<div class="ïmageneventos3">
<p>Bandeja Pesonalizada</p>
<p>$0.00</p>
</div>

<div class="ïmageneventos4">
<p>Bandeja Pesonalizada</p>
<p>$0.00</p>
</div>
    </div>

{% endblock %}
{% block content %}
{% endblock %}
 