/*Variables*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*variables de para los colores*/
:root {
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario-letra: #F9D147;
    --gris: #636363FF;
    --color-boton: #3A3939B3;
    background-color: #202020;
}


/*Centrar contenido principal*/
main {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

/* Formulario*/
form {
    color: var(--blanco);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 24px;
    width: min(880px, 94vw);
}

.box {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.box label,
div label {
    align-self: start;
    background-color: var(--blanco);
    color: var(--oscuro);
    padding: 5px 9px;
    border-radius: 8px;
    font-weight: 700;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .25);
}

/* Campos de texto */
input[type="text"],
input[type="number"],
textarea {
    background: #fff;
    color: var(--oscuro);
    padding: 1.2rem 1.4rem;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .25);
    outline: none;
    font-size: 1rem;
}

input:focus,
textarea:focus {
    box-shadow: 0 0 0 2px rgba(249, 209, 71, .45), 0 2px 6px rgba(0, 0, 0, .25);
}

/* area de imagen*/
.archivo {
    position: relative;
    grid-column: 2;
    grid-row: 2 / span 3;
}

.archivo > label {
    margin-bottom: 6px;
}

/* Cuadro con “+” */
.archivo::after {
    content: "+";
    display: grid;
    place-items: center;
    width: 260px;
    height: 260px;
    background-color: #fff;
    color: #777;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .25);
    font-size: 2rem;
}

/* Input file invisible encima del cuadro */
.archivo input[type="file"] {
    position: absolute;
    top: 2.2rem;
    left: 0;
    width: 260px;
    height: 260px;
    opacity: 0;
    cursor: pointer;
}

.archivo:hover::after {
    box-shadow: 0 0 0 3px rgba(249, 209, 71, .25), 0 2px 10px rgba(0, 0, 0, .25);
}

/*Botones*/
.buttons {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: .6rem;
}

button {
    background-color: var(--blanco);
    color: var(--oscuro);
    padding: 10px 16px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    transition: background-color .3s ease, box-shadow .3s ease, transform .06s ease;
}

button:hover {
    background-color: #4A4949CC;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
}


/*Responsivo*/
@media (max-width:720px) {
    form {
        grid-template-columns: 1fr;
    }

    .archivo {
        grid-column: auto;
        grid-row: auto;
    }

    .archivo::after,
    .archivo input[type="file"] {
        width: 100%;
        max-width: 360px;
        height: 220px;
        top: 2.2rem;
    }
}
