
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: rgba(32, 32, 32, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Estilos del header */
header {
    width: 90%;
    max-width: 1400px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

header h1 {
    font-size: 3rem;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    transition: transform 0.3s ease;
}