{% extends "layouts/app.njk" %}
{% block title %} Inicio {% endblock %}
{% block styles %}  
<link rel="stylesheet" href="">
{% endblock %}
{% block content %}
<main>
     <!--Div para el boton que llevara a Arreglos de Eventos-->
     <a href=""><div class="arreglos_eventos">
        <h1>Arreglos de Eventos</h1>
     </div></a>
     <!--Div para el boton que llevara a Arreglos de Flores-->
     <a href=""><div class="arreglo_flores">
        <h1>Arreglos de flores</h1>
     </div></a>
     <!--Div para el boton que llevara a Bandejas -->
     <a href=""><div class="bandejas">
        <h1>Bandejas</h1>
     </div></a>
</main>
{% block scripts %}
    <script src=""></script>
{% endblock %}

{% endblock %}
