{% extends "layouts/app.njk" %}
{% block title %} Inicio {% endblock %}
{% block styles %}  
<link rel="stylesheet" href="">
{% endblock %}
{% block content %}
<main>
     
</main>
{% block scripts %}
    <script src="""></script>
{% endblock %}

{% endblock %}
