{% extends "layouts/app.njk" %}

{% block title %}
    Home
{% endblock %}

{% block styles %}
    <!-- Enlace al CSS para la página de inicio -->
    <link rel="stylesheet" href="../../../public/css/clientes/index_cliente.css">
{% endblock %}

{% block content %}

div class="banner">
                <h1>Heya Creations</h1>
                <p>Arreglos de flores, Bandejas personalizadas y decoraciones para tus eventos especiales</p>
            </div>

    <div class="home-container">
    <!-- Sección: Flores -->
    <section class="section-flores">
        <h2>Flores</h2>
        <div class="product-grid">
            <div class="product-card-flores">
                <div class="img-flores"></div>
                <p>Bandeja Personalizada</p>
                <span>$0.00</span>
                <div class="carrito"></div>
            </div>
            <div class="product-card-flores">
                <div class="img-flores"></div>
                <p>Bandeja Personalizada</p>
                <span>$0.00</span>
                <div class="carrito"></div>
            </div>
            <div class="product-card-flores">
                <div class="img-flores"></div>
                <p>Bandeja Personalizada</p>
                <span>$0.00</span>
                <div class="carrito"></div>
            </div>
            <div class="product-card-flores">
                <div class="img-flores"></div>
                <p>Bandeja Personalizada</p>
                <span>$0.00</span>
                <div class="carrito"></div>
            </div>
        </div>
    </section>

    <!-- Sección: Bandejas -->
    <section class="section-bandejas">
        <h2>Bandejas</h2>
        <div class="product-grid">
            <div class="product-card-bandejas">
                <div class="img-badeja"></div>
                <p>Bandeja Personalizada</p>
                <span>$0.00</span>
                <div class="carrito"></div>
            </div>
            <div class="product-card-bandejas">
                <div class="img-badeja"></div>
                <p>Bandeja Personalizada</p>
                <span>$0.00</span>
                <div class="carrito"></div>
            </div>
            <div class="product-card-bandejas">
                <div class="img-badeja"></div>
                <p>Bandeja Personalizada</p>
                <span>$0.00</span>
                <div class="carrito"></div>
            </div>
            <div class="product-card-bandejas">
                <div class="img-badeja"></div>
                <p>Bandeja Personalizada</p>
                <span>$0.00</span>
                <div class="carrito"></div>
            </div>
        </div>
    </section>

    <!-- Sección: Eventos -->
    <section class="section-eventos">
        <h2>Eventos</h2>
        <div class="product-grid">
            <div class="product-card-eventos">
                <div class="img-eventos"></div>
                <p>Bandeja Personalizada</p>
                <span>$0.00</span>
                <div class="carrito"></div>
            </div>
            <div class="product-card-eventos">
                <div class="img-eventos"></div>
                <p>Bandeja Personalizada</p>
                <span>$0.00</span>
                <div class="carrito"></div>
            </div>
            <div class="product-card-eventos">
                <div class="img-eventos"></div>
                <p>Bandeja Personalizada</p>
                <span>$0.00</span>
                <div class="carrito"></div>
            </div>
            <div class="product-card-eventos">
                <div class="img-eventos"></div>
                <p>Bandeja Personalizada</p>
                <span>$0.00</span>
                <div class="carrito"></div>
            </div>
        </div>
    </section>

</div>

{% endblock %}
