{% extends "layouts/app.njk" %}

{% block title %}
    Inicio
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="">
{% endblock %}

{% block content %}
<main>
    <!-- Imagen del producto -->
    <div class="img_producto"></div>

    <!-- Título del producto -->
    <h1 class="titulo_producto">
        Arreglo de Navidad para mesa familiar
    </h1>

    <!-- Descripción del producto -->
    <h2 class="descripcion_producto">
        <!-- Aquí puedes agregar la descripción del producto -->
    </h2>

    <!-- Precio del producto -->
    <h3 class="precio">RD$2,500</h3>

    <!-- Botón para añadir al carrito -->
    <button class="btn_carrito">Añadir al carrito</button>
</main>
{% endblock %}

{% block scripts %}
    <script src=""></script>
{% endblock %}
