
{% extends "layouts/app.njk" %}\
{% block title %}
    Gestion Clientes
{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
    <h1>Nuestra Historia</h1>
    <div class="imagen"></div>
    <p>Cómo comenzó todo…
Algunos momentos se quedan en el corazón para siempre, y muchos de los míos tienen que ver con mi mamá. En cada fecha especial, me esforzaba en preparar bandejas llenas de detalles y cariño, como una forma de decirle cuánto la quiero sin usar palabras.
El 18 de julio de 2019, compartí en redes una foto de ella, feliz, sosteniendo una de esas bandejas. No imaginé que esa imagen tan íntima sería el comienzo de algo mucho más grande. Una amiga me pidió una para su papá… y así empezaron a llegar más pedidos. Lo que era un gesto familiar, se transformó en un proyecto.
Con el tiempo, me animé a dejar mi trabajo fijo para dedicarme a lo que verdaderamente me apasiona. Hoy, cada bandeja que creo lleva un pedacito de mi historia, con la ilusión de seguir siendo parte de momentos que se guardan para siempre.</p>

<!--el parrafo va al lado dercho de la imagen -->

<li>Misión</li>
<!--va dentro de un cuadro con bordes despues de lo anterior al lado izquierdo-->

<li>Visión</li>
<!--va dentro de un cuadro con bordes en el centro-->

<li>Valores</li>
<!--va dentro de un cuadro con bordes en la derecha-->
<p>Creatividad
Calidad
Atención al detalle
Compromiso</p>

<h1>Conocenos</h1>
<!--"va dentro de un cuadro horizontal con bordes en en centro-->

<!--abajo de conocenos va una imagen del lado izquierdo y la imagen sera circular-->
<!--a la derecha va un cuadro con border de lado horizontal-->
<!--a la izquierda va un cuadro con border de lado horizontal-->
<!--a la derecha va un circulo de color grisacio-->
<!--abajo en el centro va un cuadro de forma reptangular ubicado horizontalmente-->
{% endblock %}