{% block styles %}
    <link rel="stylesheet" href="#">
{% endblock %}
<header>
    <nav class="navbar">
    <div class="logo">
    
    </div>
    <ul id="navbarul">
    </ul>
    <nav>
</header>

{% block scripts %} 
    <script src="/js/empleados/navbar.js"></script>
{% endblock%}