{% extends "layouts/app.njk" %}\
{% block title %}
    Gestion Clientes
{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
  <h1>Pedidos</h1>
  <label for="username"></label>
<input type="ID" id="ID" name="ID">
    <button>buscar</button>
    <!--en buscar va un icono de lupa--->
    <h4>N. Pedido</h4>
    <h4>N. Nombre</h4>
    <h4>N. Fecha</h4>
    <h4>N. Estado</h4> 
    <p>HC001</p>
    <p>jese</p>
    <p>20/6/25</p>
    
    <!--abajo de N. Pedido va estar HC001--->
    <!--abajo de N. Nombre va estar jese--->
    <!--abajo de N. Fecha va estar 20/6/25--->
    <!--abajo de N. Estado va estar el espacio vacio--->
    <label for="username"></label>
<input type="ID" id="ID" name="ID">
{% endblock %}