{% extends "layouts/app.njk" %}

{% block title %}
    {{title}}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="">
{% endblock %}

{% block content %}
<main>
    <!--Seccion para graficos-->
    <section class="graficos">
    <div class="grafico-pie-ganancias"></div>
    <div class="grafico-barra-ganancias"></div>
    <div class="promedio-ventas"></div>
    </section>
    <!--Seccion para productos mas vendidos-->
    <section class="productos-m-vendidos">
        <div class="img-productos"></div>
        <div class="img-productos"></div>
        <div class="img-productos"></div>
    </section>
    <!--Seccion para informacion de la cuenta-->
    <div class="informacion-cuenta">
        <h1>Mi Cuenta</h1>
        <div class="labels"></div>
        <div class="datos"></div>
    </div>
</main>
{% endblock %}

{% block scripts %}
    <script src=""></script>
{% endblock %}
