{% extends "layouts/app.njk" %}\
{% block title %}
    Gestion Clientes
{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
  <div>
        <h1>Pedidos</h1>
        <div>
            <input type="text" placeholder="">
            <button>🔍</button>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>N. Pedido</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>#HC001</td>
                <td>jese</td>
                <td>20/6/25</td>
                <td><div></div></td>
            </tr>
        </tbody>
    </table>
{% endblock %}